<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            color:black !important;
        }

       

        .form_container {
            margin-top: 20px;
            width: 500px;
        }

        #form-title {
            color: #fff;
        }

        .login_btn {
            width: 100%;
            color: white !important;
        }


        .login_container {
            padding: 0 2rem;
        }
        .lab{
            color: black;
        }


    </style>

</head>

<body>
    <div class="container h-300">
        <div class="d-flex justify-content-left h-300">
            <div class="user_card">
                <div class="d-flex justify-content-left">
                    <h3 id="form-title">REGISTER </h3>
                </div>
                <div class="d-flex justify-content-left form_container">

                    <form method="POST" action=""> {% csrf_token %}
                        <div class="input-group mb-3">
                            <label class="lab">username</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.username }}
                        </div>
                        <div class="input-group mb-2">
                            <label class="lab">email</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.email }}
                        </div>
                        <div class="input-group mb-2">
                            <label class="lab">fristname</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.first_name }}
                        </div>
                        <div class="input-group mb-2">
                            <label class="lab">lastname</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.last_name }}
                        </div>
                        <div class="input-group mb-2">
                            <label class="lab">password</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.password }}
                        </div>
                        <div class="input-group mb-2">
                            <label class="lab">confirm</label>
                            <div class="input-group-append">
                                <span class="input-group-text"></span>
                            </div>
                            {{ signup_form.password }}
                        </div>
                        
                        <div class="d-flex justify-content-left mt-3 login_container">
                            <input class="btn success_btn" type="submit" value="Register Account">
                        </div>
                    </form>
                </div>
                {{ signup_form.errors }}
                <div class="mt-4">
                    <div class="d-flex justify-content-left links">
                        Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>